<div ng-controller="CartDetailCtrl" ng-init="init()">
    <div class="row">
        <div class="col-lg-12">
            <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                <span ng-bind="messages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                   ng-show="messages"></i>
            </div>
            <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>Order</h3>
        </div>
    </div>

     <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-8">


            <div class="table-responsive">
                <table id="conference-table" class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Price (฿)</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="book in books | startFrom: pagination.currentPage * pagination.pageSize | limitTo: pagination.pageSize">
                        <td>{{book.name}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.price}}</td>
                        <td><a href="#/book/detail/{{book.websafeKey}}">Details</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <ul class="pagination" ng-show="books.length > 0">
                <li ng-class="{disabled: pagination.currentPage == 0 }">
                    <a ng-class="{disabled: pagination.currentPage == 0 }"
                       ng-click="pagination.isDisabled($event) || (pagination.currentPage = 0)">&lt&lt</a>
                </li>
                <li ng-class="{disabled: pagination.currentPage == 0 }">
                    <a ng-class="{disabled: pagination.currentPage == 0 }"
                       ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.currentPage - 1)">&lt</a>
                </li>

                <li ng-repeat="page in pagination.pageArray()" ng-class="{active: $parent.pagination.currentPage == page}">
                    <a ng-click="$parent.pagination.currentPage = page">{{page + 1}}</a>
                </li>

                <li ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}">
                    <a ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}"
                       ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.currentPage + 1)">&gt</a>
                </li>
                <li ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}">
                    <a ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}"
                       ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.numberOfPages() - 1)">&gt&gt</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-6 col-sm-4 sidebar-offcanvas" id="sidebar" role="navigation" ng-show="books.length > 0">
        	<div class="well well-sm">
        	<div>
        		<h4>{{cart.customerDisplayName}}</h4>
        	    <h4>Total: {{cart.total}} ฿ <h4>
        	</div>
        	<br>
        		<div class="form-group">
                    <label for="date">Date</label><br>
                    {{cart.date | date:'medium'}} 
                </div>
                <div class="form-group">
                    <label for="address">Ship to</label><br>
                    {{cart.address}} 
                </div>
                <h4>Payment Info</h4>
                <div class="form-group">
                    <label for="cardName">Name</label><br>
                    {{cart.cardName}} 
                </div>
                <div class="form-group">
                    <label for="cardNumber">Card Number </label><br>
                    {{cart.cardNumber}} 
                </div>
              

        	</div>
        </div>

    </div> 
</div>
